nav {
  display: grid;
  grid-gap: 2.5vh;
  justify-content: center;
  width: 100%;
  margin-top: 1vh;
  height: 82vh;
}

.menu-list {
  display: grid;
  grid-gap: 1vh;
}

.menu-item {
  font-size: 0.8rem;
}

.menu-item:first-child {
  margin-left: -2vw;
}
